/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}


/* HEADER */

header {
    background-color: white;
}

header span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.logotext, .logo {
    vertical-align: middle;
    margin-top: 20px;
    padding-bottom: 20px;
}

.logo {
    padding-left: 20px;
}

.logotext {
    display: inline-block;
}

/* MAIN */
.container {
    width: 70%;
    background-color: white;
    margin: auto;
    padding-top: 25px;
    padding-left: 60px;
}

/* First Block */

.first {
    
    height: 60px;
    margin-top: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  

.firstbutton {
    width: 70px;
    background-color: #47adf1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #9dd3f8;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.secondbutton {
    width: 70px;
    background-color: white;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: grey;
}

.firstbutton, .secondbutton {
    display: inline;
    padding-left: 10px;
    line-height: 30px;
}

/* First Block Ending */

/* Second Block */

.second {
    margin-top: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 60px;
}

ul {
    list-style: none;
}

.mainlist {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

li {
    margin-top: 20px;
}

.icons {
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    text-align: center;
}

.itemtext {
    padding-left: 10px;
}

/* DONE/NOTDONE ICONS */

.done {
    color: green;
    border-color: green;
}

.notdone {
    color: red;
    border-color: red;
    font-size: 18px;
}

/* BUTTONS LAYOUT */
.button {
    display: inline-block;
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.editorial {
    background-color: #47adf1;
}

.q1goals {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}





