/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}


/* HEADER */

/* First block */
header {
    background-color: white;
}

header span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.logotext, .logo {
    vertical-align: middle;
    margin-top: 20px;
    padding-bottom: 20px;
}

.logo {
    padding-left: 20px;
}

.logotext {
    display: inline-block;
}

/* MAIN */
.container {
    width: 70%;
    background-color: white;
    margin: auto;
}

.first {
    padding-top: 20px;
    padding-left: 30px;
    height: 60px;
    margin-top: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  

.firstbutton {
    width: 70px;
    background-color: #47adf1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #9dd3f8;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.secondbutton {
    width: 70px;
    background-color: white;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: grey;
}

.firstbutton, .secondbutton {
    display: inline;
}

/* First Block Ending */

/* Second Block */



